[Desktop Entry]
Type=Application
Name=Comm Device
Comment=AAC communication device
Exec=/home/kiranr/comm-device/run.sh
Path=/home/kiranr/comm-device
Icon=utilities-terminal
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
